@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap');

/* =========================
   THEME TOKENS
========================= */

@theme {
  --color-royal-blue: #014BAA;
  --color-light-cream: #F8F3F0;
  --color-black: #000000;
  --color-black-80: rgba(0, 0, 0, 0.8);
  --color-black-60: rgba(0, 0, 0, 0.6);

  --font-sans: "Google Sans Flex", ui-sans-serif, system-ui, sans-serif;
}

/* =========================
   BASE STYLES
========================= */

@layer base {
  :root {
    --color-royal-blue: #014BAA;
    --color-light-cream: #F8F3F0;
    --color-black: #000000;
    --color-black-80: rgba(0, 0, 0, 0.8);
    --color-black-60: rgba(0, 0, 0, 0.6);
  }

  body {
    background-color: var(--color-light-cream);
    color: var(--color-black);
    font-family: var(--font-sans);
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "slnt" 0,
      "wdth" 100,
      "GRAD" 0,
      "ROND" 0;
  }

  /* =========================
     TYPOGRAPHY
  ========================= */

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--color-black);
    font-weight: 700;
  }

  p {
    color: var(--color-black-80);
  }

  /* =========================
     FORM ELEMENTS
  ========================= */

  input,
  button,
  textarea,
  select {
    font-family: inherit;
    font-optical-sizing: inherit;
    font-weight: inherit;
    font-style: inherit;
    font-variation-settings: inherit;
  }
}